Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Marshmallow==0.15.0
marshmallow==3.21.1
marshmallow-sqlalchemy==0.29.0
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Werkzeug==2.3.7

# Database
pyodbc==5.0.1

# ML & Data
scikit-learn==1.4.2
pandas>=2.0.0
openpyxl>=3.1.2      # for reading/writing Excel files with pandas

# PDF Generation
fpdf==1.7.2           # you are using FPDF class

# LangChain & Ollama
langchain
langchain-ollama
langchain-chroma
ollama